/*
==================
 Containers
==================
*/

#main {
	margin-top: 20px;
	min-height: 100%;
	
}

#buttons {
	margin: 80px;
	min-height:100%;
	margin-bottom: -5px;
}

#buttons:after {
  content: "";
  display: block;
}

html, body {
	height: 100%;
}

body {
	vertical-align: middle;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	/*font-family: 'PT Sans', sans-serif;*/
}

#footer{
	position: absolute;
	right: 0;
	margin-right: 5px;

	vertical-align: bottom;
	text-align: right;
}

#footer, #buttons:after {
	height: 5px;
}

/*
==================
 Elements
==================
*/

img {
	height:120px;
	width:120px;
	margin: 20px;
}

hr {
	background-color: #000000;
	color: #000000;
	width:200px;
	height: 1px;
	border: none;
	
}

/*
==================
 Links
==================
*/

a, a:visited {
	color: #000000;
	text-decoration: none;
	
}

#footer a, #footer a:visited {
	webkit-transition: text-shadow 0.2s linear 0s;
	transition: text-shadow 0.2s linear 0s;
}

#footer a:hover {
	text-shadow: 2px 2px 8px #000000;
}

/*
==================
 Lists
==================
*/

ul {
	clear: both;
    list-style: none outside none;
    margin: 20px auto;
    width: 400px;
}

li, li:visited {
	float: left;
	-webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

li:hover {
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

#footer li {
	list-style: none inside none;
  margin: 5px;
}

/*
==================
 Headings
==================
*/

h1 {
	font-weight: lighter;
}

h2 {
	font-weight: lighter;
	font-size: 90%;
}
